body{
    background-color: #171a19;
    color: #fff;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.conteiner {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #090a0a;
    border-radius: 10px;
}